<!-- This is a launch file that runs the bare minimum requirements to get -->
<!-- gazebo running for a fixed-wing aircraft -->

<launch>
  <arg name="mav_name"            default="fixedwing"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="verbose" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find rosplane_sim)/airport.world"/>
  </include>

  <!-- Spawn MAV -->
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
    <arg name="robot_namespace"            value="uav0" />    
  </include>

  <group ns="uav0">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/params/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>
    <!-- Must publish a status: armed to estimate states -->
    <node name="status_publisher" pkg="rostopic" type="rostopic" output="screen"
      args="pub status rosflight_msgs/Status '{header: {seq: 0, stamp: 0, frame_id: 'none'},
      armed: 'true', failsafe: 'false', rc_override: 'false', offboard: 'false',
      control_mode: 0, error_code: 0, num_errors: 0, loop_time_us: 0}'"/>
  </group>
  
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
    <arg name="robot_namespace"            value="uav1" />    
    <arg name="x"            value="0" />   
    <arg name="y"            value="5" />   
  </include>

  <group ns="uav1">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/params/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>
    <!-- Must publish a status: armed to estimate states -->
    <node name="status_publisher" pkg="rostopic" type="rostopic" output="screen"
      args="pub status rosflight_msgs/Status '{header: {seq: 0, stamp: 0, frame_id: 'none'},
      armed: 'true', failsafe: 'false', rc_override: 'false', offboard: 'false',
      control_mode: 0, error_code: 0, num_errors: 0, loop_time_us: 0}'"/>
  </group>
  
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
    <arg name="robot_namespace"            value="uav2" />    
    <arg name="x"            value="0" />   
    <arg name="y"            value="10" />   
  </include>

  <group ns="uav2">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/params/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>
    <!-- Must publish a status: armed to estimate states -->
    <node name="status_publisher" pkg="rostopic" type="rostopic" output="screen"
      args="pub status rosflight_msgs/Status '{header: {seq: 0, stamp: 0, frame_id: 'none'},
      armed: 'true', failsafe: 'false', rc_override: 'false', offboard: 'false',
      control_mode: 0, error_code: 0, num_errors: 0, loop_time_us: 0}'"/>
  </group>
  
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
    <arg name="robot_namespace"            value="uav3" />    
    <arg name="x"            value="0" />   
    <arg name="y"            value="15" />   
  </include>

  <group ns="uav3">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/params/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>
    <!-- Must publish a status: armed to estimate states -->
    <node name="status_publisher" pkg="rostopic" type="rostopic" output="screen"
      args="pub status rosflight_msgs/Status '{header: {seq: 0, stamp: 0, frame_id: 'none'},
      armed: 'true', failsafe: 'false', rc_override: 'false', offboard: 'false',
      control_mode: 0, error_code: 0, num_errors: 0, loop_time_us: 0}'"/>
  </group>
  
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
    <arg name="robot_namespace"            value="uav4" />    
    <arg name="x"            value="0" />   
    <arg name="y"            value="20" />   
  </include>
  <group ns="uav4">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/params/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>
    <!-- Must publish a status: armed to estimate states -->
    <node name="status_publisher" pkg="rostopic" type="rostopic" output="screen"
      args="pub status rosflight_msgs/Status '{header: {seq: 0, stamp: 0, frame_id: 'none'},
      armed: 'true', failsafe: 'false', rc_override: 'false', offboard: 'false',
      control_mode: 0, error_code: 0, num_errors: 0, loop_time_us: 0}'"/>
  </group>
  
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
    <arg name="robot_namespace"            value="uav5" />    
    <arg name="x"            value="0" />   
    <arg name="y"            value="25" />   
  </include>
  <group ns="uav5">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/params/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>
    <!-- Must publish a status: armed to estimate states -->
    <node name="status_publisher" pkg="rostopic" type="rostopic" output="screen"
      args="pub status rosflight_msgs/Status '{header: {seq: 0, stamp: 0, frame_id: 'none'},
      armed: 'true', failsafe: 'false', rc_override: 'false', offboard: 'false',
      control_mode: 0, error_code: 0, num_errors: 0, loop_time_us: 0}'"/>
  </group>
  
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
    <arg name="robot_namespace"            value="uav6" />    
    <arg name="x"            value="0" />   
    <arg name="y"            value="30" />   
  </include>
  <group ns="uav6">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/params/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>
    <!-- Must publish a status: armed to estimate states -->
    <node name="status_publisher" pkg="rostopic" type="rostopic" output="screen"
      args="pub status rosflight_msgs/Status '{header: {seq: 0, stamp: 0, frame_id: 'none'},
      armed: 'true', failsafe: 'false', rc_override: 'false', offboard: 'false',
      control_mode: 0, error_code: 0, num_errors: 0, loop_time_us: 0}'"/>
  </group>
  
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
    <arg name="robot_namespace"            value="uav7" />    
    <arg name="x"            value="0" />   
    <arg name="y"            value="-5" />   
  </include>
  <group ns="uav7">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/params/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>
    <!-- Must publish a status: armed to estimate states -->
    <node name="status_publisher" pkg="rostopic" type="rostopic" output="screen"
      args="pub status rosflight_msgs/Status '{header: {seq: 0, stamp: 0, frame_id: 'none'},
      armed: 'true', failsafe: 'false', rc_override: 'false', offboard: 'false',
      control_mode: 0, error_code: 0, num_errors: 0, loop_time_us: 0}'"/>
  </group>
  
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
    <arg name="robot_namespace"            value="uav8" />    
    <arg name="x"            value="0" />   
    <arg name="y"            value="-10" />   
  </include>
  <group ns="uav8">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/params/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>
    <!-- Must publish a status: armed to estimate states -->
    <node name="status_publisher" pkg="rostopic" type="rostopic" output="screen"
      args="pub status rosflight_msgs/Status '{header: {seq: 0, stamp: 0, frame_id: 'none'},
      armed: 'true', failsafe: 'false', rc_override: 'false', offboard: 'false',
      control_mode: 0, error_code: 0, num_errors: 0, loop_time_us: 0}'"/>
  </group>
  
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
    <arg name="robot_namespace"            value="uav9" />    
    <arg name="x"            value="0" />   
    <arg name="y"            value="-15" />   
  </include>
  <group ns="uav9">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/params/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>
    <!-- Must publish a status: armed to estimate states -->
    <node name="status_publisher" pkg="rostopic" type="rostopic" output="screen"
      args="pub status rosflight_msgs/Status '{header: {seq: 0, stamp: 0, frame_id: 'none'},
      armed: 'true', failsafe: 'false', rc_override: 'false', offboard: 'false',
      control_mode: 0, error_code: 0, num_errors: 0, loop_time_us: 0}'"/>
  </group>
  
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
    <arg name="robot_namespace"            value="uav10" />    
    <arg name="x"            value="0" />   
    <arg name="y"            value="-20" />   
  </include>
  <group ns="uav10">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/params/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>
    <!-- Must publish a status: armed to estimate states -->
    <node name="status_publisher" pkg="rostopic" type="rostopic" output="screen"
      args="pub status rosflight_msgs/Status '{header: {seq: 0, stamp: 0, frame_id: 'none'},
      armed: 'true', failsafe: 'false', rc_override: 'false', offboard: 'false',
      control_mode: 0, error_code: 0, num_errors: 0, loop_time_us: 0}'"/>
  </group>
  
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
    <arg name="robot_namespace"            value="uav11" />    
    <arg name="x"            value="0" />   
    <arg name="y"            value="-25" />   
  </include>
  <group ns="uav11">
    <!-- Load Global Parameters for this MAV -->
    <rosparam command="load" file="$(find rosplane_sim)/params/$(arg mav_name).yaml"/>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" >
      <remap from="state" to="truth"/>
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>
    <!-- Must publish a status: armed to estimate states -->
    <node name="status_publisher" pkg="rostopic" type="rostopic" output="screen"
      args="pub status rosflight_msgs/Status '{header: {seq: 0, stamp: 0, frame_id: 'none'},
      armed: 'true', failsafe: 'false', rc_override: 'false', offboard: 'false',
      control_mode: 0, error_code: 0, num_errors: 0, loop_time_us: 0}'"/>
  </group>
</launch>
